.body {
  margin: 0;
  padding: 0;
}

.light {
  background-color: white;
  color: black;
}

.light button {
  background-color: palevioletred;
}

.light button:hover {
  background-color: rgb(228, 168, 217);
  color: black;
}

.dark button {
  background-color: rgb(42, 45, 126);
}

.dark button:hover {
  background-color: rgb(106, 108, 168);
}

.dark {
   background-color: grey;
   color: white;

}

.dark a {
  color: white;
}

.dark a:hover {
  color: black;
  
}

.light a:hover {
  color: rgb(228, 168, 217);
  
}

#navbar {
  display: flex;
  justify-content: end;
  padding: 1rem;
}

a {
  font-weight: 600;
}

.dark .MuiAvatar-root {
  background-color: grey;
  color: black;
}

.light .MuiAvatar-root {
  background-color: palevioletred;
}