.body {
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  .light {
    background-color: white;
    color: black;
  }
  
  .light button, .light button .MuiButtonBase {
    background-color: palevioletred;
  }
  
  .light button:hover , .light button .MuiButtonBase {
    background-color: rgb(228, 168, 217);
    color: black;
  }
  
  .dark button, .dark button .MuiButtonBase {
    background-color: rgb(42, 45, 126);
  }
  
  .dark button:hover, .dark button .MuiButtonBase {
    background-color: rgb(106, 108, 168);
  }
  
  .dark {
     background-color: grey;
     color: white;
  
  }
  
  .dark a {
    color: white;
  }
  
  .dark a:hover {
    color: black;
    
  }
  
  .light a:hover {
    color: rgb(228, 168, 217);
    
  }
  
  nav{
    display: flex;
    width: 80vw;
    justify-content: end;
    padding: 1rem;
  }
  
  a {
    font-weight: 600;
    color: #000;
    text-decoration: none;
    margin: 5px;
    cursor: pointer;
  }
  
  h1{
    text-align: center;
  }
  
  .home{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 50vh;
  }
  
  .dark .MuiAvatar-root {
    background-color: grey;
    color: black;
  }
  
  .light .MuiAvatar-root {
    background-color: palevioletred;
  }
  
  .favs-grid{
    display: flex;
    justify-content: space-evenly;
    gap: 1rem;
    width: 90vw;
    height: auto;
    flex-wrap: wrap;
    margin: 0 auto;
  }
  
  #contact {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  
  form{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 300px;
    margin: 1rem;
  }
  
  .light div .MuiFormControl-root {
    margin: 1rem;
    background-color: rgb(207, 201, 201);
  }
  
  .dark div .MuiFormControl-root {
    margin: 1rem;
    background-color: white;
  }
  
  #outlined-basic { 
    color: black;
  }
  
  
  footer {
    display: flex;
    justify-content: center;
    text-align: center;
    width: 100%;
    height: 40px;
    margin-top: 1rem;
  }
  
  footer > img{
    width: 200px;
    margin: 0;
  }
  
  footer > p{
    margin: 0;
    padding-top: 0.7rem;
  }






